table,
th,
td {
  border: 0.75px solid black;
}

table {
  // border-collapse: collapse;
}

th {
  vertical-align: top;
}

.subject {
  width: 100px;
}

.no {
  width: 35px;
  text-align: center;
}

.name {
  width: 175px;
}

td {
  padding: 3px;
}

input {
  width: 50%;
}

// input:read-only {
//   background-color: rgba(239, 239, 239, 0.3);
//   border-color: rgba(118, 118, 118, 0.3);
//   color: rgb(120, 120, 120) ;
//   border-radius: 3px;
// }

.score-input {
  text-align: center;
}

.zero {
  font-weight: bolder;
  color: red;
}