table,
th,
td {
  border: 0.75px solid black;
}

th {
  vertical-align: top;
}

td {
  padding: 3px;
}

.subject {
  width: 100px;
}

.no {
  width: 35px;
  text-align: center;
}

.name {
  width: 175px;
}

input {
  width: 50%;
}

.score-input {
  text-align: center;
}

.zero {
  font-weight: bolder;
  color: red;
}