table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr>th {
  padding: 0.25em;
  background-color: rgb(220, 220, 220);
}

th {
  vertical-align: top;
}

td {
  padding: 3px;
}

.subject {
  width: 100px;
}

.no {
  width: 55px;
  text-align: center;
}

.name {
  width: 175px;
}

input {
  width: 50%;
}

.score-input {
  text-align: center;
}

.zero {
  font-weight: bolder;
  color: red;
}