@import '../../scss/shared.scss';

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  text-align: center;
}

table {
  width: 100%;
}

.header {
  background-color: #2D3344;
  color: white;
  height: 2em;
}

.subheader {
  background-color: rgb(224, 224, 224);
}

tr > th {
  border-color: black;
}

.summary-row {
  background-color: rgb(220, 220, 220);
  border-color: black;
}