<div class="flex justify-content-between mb-5">
  <div>
    <h1 class="mt-2" style="font-size: 2.5em">
      วิชา {{header.subjectName}} - {{header.subjectCode}}
    </h1>
    <h1>ห้อง {{header.classRoomName}}</h1>
    <h1>วันที่ {{header.classDate | thaidate}}</h1>
  </div>
  <div class="align-self-end">
    <div class="text-right" *ngIf="isEdit">
      <!-- <mat-icon class="mr-3" [ngStyle]="{'color': $any((availableReader$ |async))?.count > 0 ? 'green' : 'red'}">
        tungsten</mat-icon> -->
      <button mat-raised-button class="mr-3" (click)="markAll()">มาครบ</button>
      <button mat-raised-button color="success" style="width: 150px" (click)="save()"
        [disabled]="!isFormTouchedOrDirty()">บันทึก</button>
    </div>

    <form [formGroup]="form" novalidate>
      <div class="text-right mt-3 mb-5">
        <h3 class="inline-block" *ngIf="isEdit">ย้อนหลัง</h3>
        <mat-checkbox *ngIf="isEdit" class="inline-block ml-3" color="primary" formControlName="isRetro"
          (change)="onRetroChecked($event)"></mat-checkbox>
        <div [ngClass]="{'hidden' : !isRetro.value}">
          <input type="datetime-local" style="font-size: 1.25em" formControlName="date"
            (change)="onDateChanged($event)">
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <h2>RFID reader status <mat-icon [ngStyle]="{'color': $any((availableReader$ |async))?.count > 0 ? 'green' : 'red'}">
    tungsten</mat-icon>
</h2> -->

<form [formGroup]="form" novalidate>
  <div id="table">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="cell-border compact stripe">
      <thead>
        <tr>
          <th>เลขที่</th>
          <th>เลขประจำตัว</th>
          <th>ชื่อ</th>
          <th>สกุล</th>
          <th>เวลาที่บันทึก</th>
          <th class="text-center">% การเข้าเรียน</th>
          <th style="color:green">มา {{getNoOfStudents(1)}}</th>
          <th style="color:orange">สาย {{getNoOfStudents(2)}}</th>
          <th style="color:gray">ลา {{getNoOfStudents(3)}}</th>
          <th style="color:red">ขาด {{getNoOfStudents(4)}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="status">
          <tr *ngFor="let dt of data; let i = index"
            [ngClass]="{'text-red': calculateEmoji(dt.gainedClassWeight/ dt.totalClassWeight) == 3}">
            <td>{{dt.student.sequence}}</td>
            <td>{{dt.studentId}}</td>
            <td>
              <span *ngIf="calculateEmoji(dt.gainedClassWeight/ dt.totalClassWeight) == 0">🥇</span>
              <span *ngIf="calculateEmoji(dt.gainedClassWeight/ dt.totalClassWeight) == 1">😍</span>
              <span *ngIf="calculateEmoji(dt.gainedClassWeight/ dt.totalClassWeight) == 2">🥹</span>
              <span *ngIf="calculateEmoji(dt.gainedClassWeight/ dt.totalClassWeight) == 3">😡</span>
              {{dt.student.firstName}}
            </td>
            <td>{{dt.student.lastName}}</td>
            <!-- <td>{{dt.attendTime}}</td>-->
            <ng-container [formGroup]="eachFormGroup(i)">
              <td>
                <!-- <input type="text" formControlName="attendTime"> -->
                {{eachFormGroup(i).value.attendTime | thaidate}}
              </td>
              <td class="text-center" [attr.data-sort]="dt.gainedClassWeight">
                <span>{{dt.gainedClassWeight * 100 / dt.totalClassWeight | number:'1.0-0'}}%</span>
                <span class="ml-2">({{dt.gainedClassWeight}}/{{dt.totalClassWeight}})</span>
              </td>
              <td>
                <mat-radio-group formControlName="attendanceStatus" name="{{i}}">
                  <mat-radio-button value="1" name="{{i}}" color="primary" (change)="onStatusClick(i)">
                  </mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <mat-radio-group formControlName="attendanceStatus" name="{{i}}">
                  <mat-radio-button value="2" name="{{i}}" color="primary" (change)="onStatusClick(i)">
                  </mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <mat-radio-group formControlName="attendanceStatus" name="{{i}}">
                  <mat-radio-button value="3" name="{{i}}" color="primary" (change)="onStatusClick(i)">
                  </mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <mat-radio-group formControlName="attendanceStatus" name="{{i}}">
                  <mat-radio-button value="4" name="{{i}}" color="primary" (change)="onStatusClick(i, '4')">
                  </mat-radio-button>
                </mat-radio-group>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</form>

<!-- <pre>{{rfidMapping | json}}</pre> -->
<!-- <pre>{{(availableReader$ |async) | json}}</pre> -->
<!-- <button (click)="debug()">button</button> -->
<!-- <pre>{{isStatus.value | json}}</pre> -->