<form [formGroup]="maintainViewForm">
  <div class="selection-box">
    <div>
      <h3>เลือกฐานข้อมูล</h3>
      <mat-form-field appearance="fill">
        <mat-label>ฐานข้อมูล</mat-label>
        <mat-select formControlName="database" (selectionChange)="onDatabaseChange($event)">
          <mat-option *ngFor="let masterType of (masterType$ | async)" value="{{masterType.value}}">{{masterType.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="showAcademicYear()">
      <h3>เลือกปีการศึกษา</h3>
      <mat-form-field appearance="fill">
        <mat-label>ปีการศึกษา</mat-label>
        <mat-select formControlName="academicYear">
          <mat-option *ngFor="let year of academicYear$ | async" value="{{year.value}}">{{year.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>

<button mat-raised-button color="primary" *ngIf="maintainViewForm" (click)="search()"
  [disabled]="!maintainViewForm.valid">ค้นหา</button>

<div *ngIf="data?.length > 0" class="mt-5">
  <table datatable [dtOptions]="dtOptions" class="cell-border compact stripe">
    <thead>
      <tr>
        <th *ngFor="let col of displayedColumns">{{this.columnsMapping[col]}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dt of data">
        <td *ngFor="let col of displayedColumns">{{dt[col]}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <button (click)="debug()">button</button> -->