@import '../scss/shared.scss';

table {
  width: 100%;
}

th {
  // background-color: #ffce5cc4;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
}

th {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

td,
th {
  width: 200px;
}