table {
  width: 100%;
}

td, th {
  width: 200px;
}

th {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.selection-box {
  display: flex;
  column-gap: 1rem;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}