<h1 class="mt-2" style="font-size: 2.5em">
  <mat-icon style="font-size: 0.8em" class="mr-2">access_time</mat-icon> เช็คชื่อเข้าเรียน
</h1>
<mat-divider></mat-divider>

<form [formGroup]="maintainForm" *ngIf="(maintainDropdown$ | async) as dropdownData">
  <div class="selection-box">
    <div class="selection-item">
      <h3>ปีการศึกษา</h3>
      <mat-form-field appearance="fill">
        <!-- <pre>{{dropdownData | json}}</pre> -->
        <mat-label>เลือกปีการศึกษา</mat-label>
        <mat-select (valueChange)="onAcademicYearChanges($event)" formControlName="academicYear">
          <mat-option *ngFor="let year of $any(dropdownData)?.academics" [value]="year.value">
            {{year.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="selection-item" *ngIf="$any(dropdownData)?.subjects.length > 0">
      <h3>รายวิชา</h3>
      <mat-form-field appearance="fill">
        <mat-label>เลือกรายวิชา</mat-label>
        <mat-select (valueChange)="onSubjectChanges($event)" formControlName="subject">
          <mat-option *ngFor="let subject of $any(dropdownData)?.subjects " [value]="subject.subjectCode">
            {{subject.subjectCode}} - {{subject.subjectName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="selection-item" *ngIf="$any(dropdownData)?.classRooms.length > 0">
      <h3>ห้องเรียน</h3>
      <mat-form-field appearance="fill">
        <mat-label>เลือกห้องเรียน</mat-label>
        <mat-select formControlName="classRoom">
          <mat-option *ngFor="let classRoom of $any(dropdownData)?.classRooms " [value]="classRoom.value">
            {{classRoom.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="search()" [disabled]="!maintainForm.valid">ค้นหา</button>
  <button mat-raised-button class="ml-2" color="success" (click)="create()"
    [disabled]="!maintainForm.valid">สร้างใหม่</button>
</form>

<!-- <pre>{{maintainForm.value| json}}</pre> -->

<!-- <button (click)="debug()">button</button> -->

<!-- <mat-card class="mt-3" *ngIf="data?.length > 0"> -->
<div *ngIf="data?.length > 0" class="mt-5">
  <table datatable [dtOptions]="dtOptions" class="cell-border compact stripe hover">
    <thead>
      <tr>
        <th>วันที่</th>
        <th>เวลา</th>
        <th>คาบ</th>
        <th>ห้องเรียน</th>
        <th>เมนู</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dt of data; let i = index">
        <td [attr.data-sort]="convertDate(dt.startDate)">{{dt.startDate | date}}</td>
        <td>{{dt.startDate | date: 'mediumTime'}}</td>
        <td>{{dt.classWeight == 1 ? 'เดี่ยว' : 'คู่'}}</td>
        <td>{{dt.classRoomName}}</td>
        <td>
          <a [routerLink]="['/check/view', dt.transactionClassId]" target="_blank">
            <mat-icon>visibility</mat-icon>
          </a>
          <a [routerLink]="['/check/edit', dt.transactionClassId]" target="_blank" class="ml-2">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="ml-2">
            <mat-icon style="cursor: pointer" (click)="deleleteClass(dt.transactionClassId)">delete</mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </mat-card> -->
<!-- <button (click)="debug()">button</button> -->