.layout {
  // background-color: rgb(217, 227, 237) !important;
  // margin: 0 15% 0 15%;
}

.main-content {
  background-color: #ffffff !important;
  min-height: 100vh !important;
  padding: 16px 16px 0 16px;
}

.side-bar {
  width: 300px !important;
  background-color: rgb(250, 250, 250);
  border: 0px;
}

// @media screen and (max-width: 1200px)   {
//   .layout {
//     margin: 0 0% 0 0%;
//   } 
// }

:host ::ng-deep {
  .mat-toolbar.mat-primary {
    // background: rgb(55, 96, 207) !important;
  }
}