<section class="navbar">
  <app-navbar></app-navbar>
</section>

<section>
  <mat-drawer-container>
    <mat-drawer #drawer mode="side" class="side-bar" [opened]="savedStateService.sideBarState">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <div [ngClass]="{'main-content':savedStateService.sideBarState, 'collapse': !savedStateService.sideBarState}">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>