<mat-toolbar color="primary" class="nav-bar">
  <button mat-icon-button class="example-icon" (click)="savedStateService.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/home" class="logo" style="cursor: pointer">คะแนน.com</span>
  <span class="spacer"></span>

  <span>{{givenName}}</span>
  <mat-icon class="ml-3" style="cursor: pointer" (click)="logout()">logout</mat-icon>

  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>