@import '../layout.config.scss';

.nav-bar {
  min-height: $nav-bar-height;
  width: 100%;
}

.logo {
  font-family: 'Itim';
  font-size: 1.5em;
  // letter-spacing: 2.5px;
  margin-left: 0.5em;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  // background: rgb(53, 88, 193);
}

.avatar {
  border-radius: 50%;
  height: 65%;
  border: 2px solid white;
}