<form [formGroup]="maintainForm">
  <mat-card *ngIf="(maintainDropdown$ | async) as dropdownData">
    <mat-card-title>จัดการฐานข้อมูล</mat-card-title>
    <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
    <div class="selection-box">
      <div class="selection-item">
        <h2>ปีการศึกษา</h2>
        <mat-form-field appearance="fill">
          <!-- <pre>{{dropdownData | json}}</pre> -->
          <mat-label>เลือกปีการศึกษา</mat-label>
          <mat-select (valueChange)="onAcademicYearChanges($event)" formControlName="academicYear">
            <mat-option *ngFor="let year of $any(dropdownData)?.academics" [value]="year.value">
              {{year.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="selection-item" *ngIf="$any(dropdownData)?.subjects.length > 0">
        <h2>รายวิชา</h2>
        <mat-form-field appearance="fill">
          <mat-label>เลือกรายวิชา</mat-label>
          <mat-select formControlName="subject">
            <mat-option *ngFor="let subject of $any(dropdownData)?.subjects " [value]="subject.subjectCode">
              {{subject.subjectCode}} - {{subject.subjectName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</form>
<pre>{{maintainForm.value| json}}</pre>
